doctype html

html(lang="en")
  head
    title= 'Hello PeerJS'
  body
    video(controls id="video")
    script(src="http://cdn.peerjs.com/0.3/peer.min.js")
    script(type='text/javascript' src="/js/blobLoader.js")
    script(type='text/javascript' src="/js/seeder.js")
