doctype html

html(lang="en")
  head
    title= 'Hello Leecher'
  body
    div(class='id-holder')
    div(class='seeder-id-holder')
    button(onclick="requestData()") Go
    br
    video(controls id="video")
    script(src="http://cdn.peerjs.com/0.3/peer.min.js")
    script(type='text/javascript' src="/js/leecher.js")
