doctype html

html(lang="en")
  head
    title= 'Hello Leecher'
  body
    input(id="seeder-id")
    button(onclick="requestData()") Go
    video(controls id="video")
    script(src="http://cdn.peerjs.com/0.3/peer.min.js")
    script(type='text/javascript' src="/js/leecher.js")
